body {
    font-family: "DM Sans", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    border: 1px solid skyblue;
    padding: 7px;
}

.calculator {
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
}

.display {
    width: 95%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 20px;
    padding-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.btn {
    height: 50px;
    font-size: 18px;
    border: 1px solid #e0e0e0;
    background-color: #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:active {
    background-color: #d4d4d4;
}

