@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Keep track and manage your tasks! Get started: <a asp-controller="TodoLists" asp-action="Index">Todo List</a></p>
</div>
