/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Poppins", 'Ubuntu';
}

body {
    background-color: #D9AFD9;
    background-image: linear-gradient(258deg, #D9AFD9 0%, #97D9E1 100%);
    display: grid;
}

.main-block {
    width: 100%;
    display: grid;
    border-radius: 30px;
    background-color: #ffffff;
    padding-bottom: 25px;
}

.app-root {
    display: grid;
    grid-template-columns: 0.3fr auto;
}

@media only screen and (max-width: 770px) {
    
}
