<app-header></app-header>

<div class="dash-main-container">
    <div class="first-container">
        <div class="header-div">
            <h2>
                @if (!isAdmin) { User Stats }
                @else { Employee Stats }
            </h2>
            <div
                style="display: flex; justify-content: space-between; gap: 10px"
            >
                <button (click)="showNotificationPanel = true" class="add-user-btn" style="padding: 10px 12px">
                    <img src="assets\icons\bell.svg" alt="" />
                </button>
                <button class="add-user-btn" (click)="showCreateUserDialog()">
                    <img src="assets\icons\user-plus.svg" alt="" />
                    Add New User
                </button>
            </div>
        </div>
        <div class="emp-grid-card">
            @for (stat of userTaskStats; track $index) {
            <p-card
                header="{{ stat.username }}"
                [subheader]="
                    stat.isAdmin ? 'Permissions: Admin' : 'Permissions: User'
                "
            >
                <p class="m-0">
                    <strong>Total Tasks:</strong> {{ stat.totalTasks }}
                </p>
                <p class="m-0"><strong>Email:</strong> {{ stat.email }}</p>
                <p-divider />
                <p class="m-0">Employee Overall Performance</p>
                <div class="metergroup-container">
                    <p-metergroup [value]="stat.value" />
                </div>
            </p-card>
            }
        </div>
    </div>

    <div class="second-container">
        <div class="header-div">
            <h2>Compliance</h2>
            <button class="add-user-btn" (click)="showCreateComplianceDialog()">
                <img
                    style="height: 17px"
                    src="assets\icons\shield-halved.svg"
                    alt=""
                />
                <!-- <i style="color: #342872;" class="fa-solid fa-handshake-angle fa-lg"></i> -->
                Add New Compliance
            </button>
        </div>

        <div class="accordion">
            <p-accordion [value]="0">
                @for (compliance of complianceData; track $index) {
                <p-accordion-panel
                    [value]="$index"
                    (click)="getProjectDataByClientId(compliance.id)"
                >
                    <p-accordion-header>{{
                        compliance.title
                    }}</p-accordion-header>
                    <p-accordion-content>
                        <div class="header-div">
                            <h3 class="m-0 client-dtl-head">
                                Compliance Details
                            </h3>
                            <div class="flex-box">
                                <div class="card flex justify-center">
                                    <p-select
                                        [options]="userTaskStats"
                                        [showClear]="true"
                                        [(ngModel)]="selectedUserToAssign"
                                        optionLabel="username"
                                        placeholder="Select User"
                                        class="w-full md:w-56"
                                    />
                                </div>
                                <button
                                    class="assign-comp"
                                    (click)="assignCompliance(compliance.id)"
                                    [disabled]="selectedUserToAssign === null"
                                >
                                    <img
                                        style="height: 17px"
                                        src="assets\icons\paper-plane.svg"
                                        alt=""
                                    />
                                </button>
                            </div>
                        </div>
                        <div class="grid-container">
                            <p class="client-dtl">
                                Required Percentage:
                                <span class="client-dtl-res"
                                    >{{ compliance.requiredPercentage }}%</span
                                >
                            </p>
                            <p class="client-dtl">
                                No of Questions:
                                <span class="client-dtl-res">{{
                                    compliance.questionsCount
                                }}</span>
                            </p>
                            <p class="client-dtl">
                                Created By:
                                <span class="client-dtl-res">{{
                                    compliance.createdBy
                                }}</span>
                            </p>
                            <p class="client-dtl">
                                Created On:
                                <span class="client-dtl-res">{{
                                    compliance.createdDate
                                        .toString()
                                        .split("T")[0] | date : "mediumDate"
                                }}</span>
                            </p>
                        </div>
                        <p class="client-dtl">Description:</p>
                        <span class="client-dtl-res">{{
                            compliance.description
                        }}</span>
                    </p-accordion-content>
                </p-accordion-panel>
                } @empty {
                    <p-accordion-panel [value]="0">
                        <p-accordion-header>No Compliances</p-accordion-header>
                        <p-accordion-content>
                            <p>No compliances are currently assigned to you.</p>
                        </p-accordion-content>
                    </p-accordion-panel>
                }
            </p-accordion>
        </div>
    </div>

    <div class="third-container">
        <div class="header-div">
            <h2>Clients</h2>
            <button class="add-user-btn" (click)="showCreateClient = true">
                <img
                    style="height: 17px"
                    src="assets\icons\handshake-simple.svg"
                    alt=""
                />
                <!-- <i style="color: #342872;" class="fa-solid fa-handshake-angle fa-lg"></i> -->
                Add New Client
            </button>
        </div>

        <div class="accordion">
            <p-accordion [value]="0">
                @for (client of clientData; track $index) {
                <p-accordion-panel
                    [value]="$index"
                    (click)="getProjectDataByClientId(client.id)"
                >
                    <p-accordion-header>{{
                        client.clientName
                    }}</p-accordion-header>
                    <p-accordion-content>
                        <h3 class="m-0 client-dtl-head">Client Details</h3>
                        <p class="client-dtl">Phone:</p>
                        <p class="client-dtl-res">{{ client.contactPhone }}</p>
                        <p class="client-dtl">Email:</p>
                        <p class="client-dtl-res">{{ client.contactEmail }}</p>
                        <p class="client-dtl">Created:</p>
                        <p class="client-dtl-res">
                            {{
                                client.createdDate.toString().split("T")[0]
                                    | date : "mediumDate"
                            }}
                        </p>
                        <p-accordion>
                            <div class="header-div">
                                <h3 style="font-weight: 500; font-size: 16px">
                                    Client Projects:
                                </h3>
                                <button
                                    class="add-user-btn"
                                    (click)="showCreateUserDialog()"
                                >
                                    <img
                                        style="height: 17px"
                                        src="assets\icons\diagram-project.svg"
                                        alt=""
                                    />
                                    <!-- <i style="color: #342872;" class="fa-solid fa-diagram-project"></i> -->
                                    Add New Project
                                </button>
                            </div>
                            @for (project of projectsByClient; track $index) {
                            <p-accordion-panel [value]="$index">
                                <p-accordion-header>{{
                                    project.projectName
                                }}</p-accordion-header>
                                <p-accordion-content>
                                    <div class="grid-container">
                                        <p class="client-dtl">
                                            Start:
                                            <span class="client-dtl-res">
                                                {{
                                                    project
                                                        .startDate!.toString()
                                                        .split("T")[0]
                                                        | date : "mediumDate"
                                                }}
                                            </span>
                                        </p>
                                        <p class="client-dtl">
                                            Dead Line:
                                            <span class="client-dtl-res">
                                                {{
                                                    project
                                                        .endDate!.toString()
                                                        .split("T")[0]
                                                        | date : "mediumDate"
                                                }}
                                            </span>
                                        </p>
                                    </div>
                                    <p class="client-dtl">Description:</p>
                                    <p class="client-dtl-res">
                                        {{ project.description }}
                                    </p>
                                </p-accordion-content>
                            </p-accordion-panel>
                            } @empty {
                                <p-accordion-panel [value]="0">
                                    <p-accordion-header>No Projects</p-accordion-header>
                                    <p-accordion-content>
                                        <p>No projects have been added to the system.</p>
                                    </p-accordion-content>
                                </p-accordion-panel>
                            }
                        </p-accordion>
                    </p-accordion-content>
                </p-accordion-panel>
                } @empty {
                    <p-accordion-panel [value]="0">
                        <p-accordion-header>No Clients</p-accordion-header>
                        <p-accordion-content>
                            <p>No clients have been added to the system.</p>
                        </p-accordion-content>
                    </p-accordion-panel>
                }
            </p-accordion>
        </div>
    </div>
    <!-- <p-divider /> -->
    <div class="card flex justify-center">
        <p-toast position="bottom-right" />
    </div>
</div>

<!-- Compliance Dialog -->
<p-dialog
    class="compliance-form"
    header="Add New Compliance"
    [modal]="true"
    draggable="false"
    [(visible)]="showCreateCompliance"
    [style]="{ width: '70rem' }"
>
    <p-stepper [value]="1" class="basis-[50rem]" [linear]="true">
        <p-step-list>
            <p-step [value]="1">Details</p-step>
            <p-step [value]="2">Content</p-step>
            <p-step [value]="3">Questions</p-step>
        </p-step-list>
        <p-step-panels>
            <p-step-panel [value]="1">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-48">
                        <div
                            class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
                        >
                            <div>
                                <form
                                    name="complianceForm"
                                    [formGroup]="complianceForm"
                                    class="compliance-details"
                                >
                                    <div class="details-layout">
                                        <label for="title">Title:</label>
                                        <label for="title"
                                            >Required Percentage:</label
                                        >
                                    </div>
                                    <div class="details-layout">
                                        <input
                                            type="text"
                                            id="title"
                                            required
                                            formControlName="complianceTitle"
                                            placeholder="Enter compliance title"
                                        />
                                        <input
                                            type="number"
                                            id="percent"
                                            min="35"
                                            max="100"
                                            required
                                            formControlName="compliancePercent"
                                            placeholder="Enter compliance percentage"
                                        />
                                    </div>
                                    <br />
                                    <label>Description:</label>
                                    <textarea
                                        type="text"
                                        id="question"
                                        placeholder="Enter compliance description"
                                        formControlName="complianceDesc"
                                        required
                                    ></textarea>
                                </form>
                                <br />
                            </div>
                        </div>
                        <div class="flex pt-6 justify-end">
                            <p-button
                                label="Continue"
                                [style]="{ 'font-size': '14px' }"
                                [disabled]="complianceForm.invalid"
                                (onClick)="activateCallback(2)"
                            />
                        </div>
                    </div>
                </ng-template>
            </p-step-panel>

            <p-step-panel [value]="2">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-48">
                        <div
                            class="content-upload border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
                        >
                            <label>Upload PPT:</label>
                            <input
                                type="file"
                                (change)="onFileChange($event)"
                                accept=".pdf, application/pdf"
                                required
                            />
                            <!-- <br>
                            <button type="submit">
                                <img src="assets\icons\upload.svg" alt="" >
                                Upload
                            </button> -->
                        </div>
                        <br />
                    </div>
                    <div class="flex pt-6 justify-between question-btns">
                        <p-button
                            label="Back"
                            [style]="{ 'font-size': '14px' }"
                            severity="secondary"
                            (onClick)="activateCallback(1)"
                        />
                        <p-button
                            label="Continue"
                            [style]="{ 'font-size': '14px' }"
                            (onClick)="activateCallback(3)"
                            [disabled]="selectedPresentation === null"
                        />
                    </div>
                </ng-template>
            </p-step-panel>

            <p-step-panel [value]="3">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-48">
                        <div
                            class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium question-form"
                        >
                            <label>Question:</label>
                            <textarea
                                type="text"
                                id="question"
                                placeholder="Enter your question"
                                required
                                [(ngModel)]="question"
                            ></textarea>
                            <br />
                            <label>Options:</label>
                            <div id="options-container">
                                @for (items of optionCount; track $index) {
                                <div class="option-row">
                                    <input
                                        type="radio"
                                        name="correctOption"
                                        class="option-radio"
                                        value="{{ $index }}"
                                        (change)="setCorrectOption($index)"
                                    />
                                    <input
                                        type="text"
                                        class="option-input"
                                        placeholder="Option {{ $index + 1 }}"
                                        [(ngModel)]="options[$index]"
                                    />
                                </div>
                                }
                            </div>
                            <br />
                            <div class="question-btns">
                                <button
                                    (click)="addOption(optionCount.length + 1)"
                                    [disabled]="optionCount.length >= 4"
                                >
                                    Add Option
                                </button>
                                <button
                                    (click)="removeOption()"
                                    [disabled]="optionCount.length <= 2"
                                >
                                    Remove Option
                                </button>
                                <button (click)="addQuestion()">
                                    Save Question
                                </button>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="flex pt-6 justify-start question-btns">
                        <p-button
                            label="Back"
                            [style]="{ 'font-size': '14px' }"
                            (onClick)="activateCallback(2)"
                        />
                        <button
                            (click)="saveCompliance()"
                            (onClick)="activateCallback(1)"
                        >
                            Save Compliance
                        </button>
                        <button class="qcount">
                            Questions Added: {{ questions.length }}
                        </button>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-panels>
    </p-stepper>
</p-dialog>

<!-- Registration Dialog -->
<p-dialog
    class="reg-form"
    header="Add New Profile"
    [modal]="true"
    draggable="false"
    [(visible)]="showCreateUser"
    [style]="{ width: '30rem' }"
>
    <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
        <label for="usrname-inp">Username:</label>
        <input id="usrname-inp" type="text" required ngModel name="usrname" />
        <!-- placeholder="Enter your username" -->

        <label for="email-inp">Email Address:</label>
        <input
            id="email-inp"
            type="email"
            name="email"
            ngModel
            pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
            required
        />
        <!-- placeholder="Enter your email" -->

        <label for="pass-inp">Password:</label>
        <input
            id="pass-inp"
            required
            ngModel
            name="pass"
            min="8"
            type="password"
        />
        <!-- placeholder="Enter your password" -->

        <label for="cnfmpass-inp">Confirm Password:</label>
        <input
            id="cnfmpass-inp"
            required
            ngModel
            type="password"
            name="cnfmpass"
            min="8"
        />
        <!-- placeholder="Confirm your password" -->

        <label for="cnfmpass-inp">Role:</label>
        <select id="select4" name="accrole" ngModel required>
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select>

        <input
            type="submit"
            value="Register"
            [disabled]="
                registerForm.invalid ||
                registerForm.form.get('cnfmpass')?.value !==
                    registerForm.form.get('pass')?.value
            "
        />
    </form>
</p-dialog>

<!-- Create Client Dialog -->
<p-dialog
    header="Add New Client"
    [modal]="true"
    draggable="false"
    [(visible)]="showCreateClient"
    [style]="{ width: '30rem', height: '35rem' }"
>
    <ng-container *ngComponentOutlet="createClientComp"></ng-container>
</p-dialog>

@if (showNotificationPanel) {
    <!-- Overlay -->
    <div class="overlay" (click)="showNotificationPanel = false"></div>
    <!-- Notification Box -->
    <div class="notification-box with-anim">
        <h3>Notification Center</h3>
        <div style="display: flex; flex-direction: column; gap: 10px;">
            <div class="notification-content">
                <h4 style="color: #f8f8f8; text-align: left; margin: 0;">Notification Title</h4>
                <p>
                This is a sample notification message. You can customize it as
                needed.
                </p>
            </div>
            <div class="notification-content">
                <h4 style="color: #f8f8f8; text-align: left; margin: 0;">It’s so quiet here</h4>
                <p>
                    You’re all caught up! Go outside or something.
                </p>
            </div>
        </div>
    </div>
}