<app-header></app-header>
<div class="tasks-page">
    <div class="top-section">
        <h2>Tasks</h2>
        <span class="total-tasks">{{ totalTaskCount }} Item(s) In Total</span>
        <button class="working-leave-btn">
            Total {{ totalTaskHours }} hour(s) of Working
        </button>
        <div></div>
        <button class="add-task-btn" (click)="onPlusTask()">+ Add Task</button>
    </div>

    <div class="date-section">
        <!-- <label for="date">Select:</label> -->
        <!-- <input type="date" id="date"
            [(ngModel)]="this.selectedDate"
            (ngModelChange)="onDateChange($event)"
        /> -->
        <p-datepicker
            [(ngModel)]="todayDate"
            dateFormat="dd.mm.yy"
            [showIcon]="false"
            [iconDisplay]="'input'" [showIcon]="true"
            (ngModelChange)="onDateChange($event)"
        />
    </div>

    <div class="tasks-table">
        <h3>Added Tasks</h3>
        <p-table [value]="taskByDate" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header>
                <tr>
                    <th>Task Title</th>
                    <th>Client</th>
                    <th>Project</th>
                    <!-- <th>Assigned To</th> -->
                    <th>Assigned By</th>
                    <th>ETA</th>
                    <th>Task Priority</th>
                    <th>Task State</th>
                    <th>Add</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </ng-template>
            <ng-template #body let-task>
                <tr>
                    <td>{{ task.taskTitle }}</td>
                    <td>{{ task.clientName }}</td>
                    <td>{{ task.projectName }}</td>
                    <!-- <td>{{ task.assignedTo }}</td> -->
                    <td>{{ task.assignedBy }}</td>
                    <td>{{ task.hours }}</td>
                    <td>
                        @if (task.priority === 'low') {
                        <p-tag severity="success" value="Low" />
                        } @else if (task.priority === 'medium') {
                        <p-tag severity="warn" value="Medium" />
                        } @else {
                        <p-tag severity="danger" value="High" />
                        }
                    </td>
                    <td>
                        <select
                            id="select4"
                            value="{{ task.taskState }}"
                            (change)="onTaskStateChange(task.id, $event)"
                        >
                            <option value="new">New</option>
                            <option value="active">Active</option>
                            <option value="complete">Complete</option>
                        </select>
                    </td>
                    <td>
                        <button class="add-activity-btn" id="{{ task.id }}">
                            <img
                                src="assets\icons\circle-plus.svg"
                                style="height: 40px; margin: -15px"
                            />
                        </button>
                    </td>
                    <td>
                        <button
                            class="edit-btn"
                            id="{{ task.id }}"
                            (click)="onTaskEdit(task.id)"
                        >
                            <img
                                src="assets\icons\edit-check-pen.svg"
                                style="height: 40px; margin: -15px"
                            />
                        </button>
                    </td>
                    <td>
                        <button
                            class="delete-btn"
                            id="{{ task.id }}"
                            (click)="openConfirmationDialog(task.id)"
                        >
                            <img
                                src="assets\icons\trash-can-xmark.svg"
                                style="height: 40px; margin: -15px"
                            />
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="11" class="no-tasks">
                        <img
                            src="assets\no-data-img.png"
                            style="height: 220px"
                            alt="no data image"
                        />
                        <!-- No tasks found for the selected date: {{ selectedDate }} -->
                    </td>
                </tr>
                <tr>
                    <td colspan="11" class="no-tasks">
                        <!-- <img src="assets\no-data-img.webp" style="height: 250px;"> -->
                        Tasks not found for the selected date: {{ selectedDate }}

                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p-divider />

    <h2>Activities</h2>
    <div class="activities-table">
        <h3>Added Activities</h3>
        <p-table [value]="dataByDate" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header>
                <tr>
                    <th>Activity Title</th>
                    <th>Task Title</th>
                    <th>Client</th>
                    <th>Project</th>
                    <th>Description</th>
                    <th>Hours</th>
                </tr>
            </ng-template>
            <ng-template #body let-data>
                <tr>
                    <td>{{ data.matchingTasks.clientName }}</td>
                    <td>{{ data.matchingTasks.projectName }}</td>
                    <td>{{ data.matchingTasks.taskTitle }}</td>
                    <td>{{ data.activity.activityTitle }}</td>
                    <td>{{ data.activity.description }}</td>
                    <td>{{ data.activity.hours }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="11" class="no-tasks">
                        <img
                            src="assets\no-data-img.png"
                            style="height: 250px"
                            alt="no data image"
                        />
                        <!-- No tasks found for the selected date: {{ selectedDate }} -->
                    </td>
                </tr>
                <tr>
                    <td colspan="11" class="no-tasks">
                        Activities not found for the selected date:
                        {{ selectedDate }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="card flex justify-center">
        <p-toast position="bottom-right" />
    </div>
</div>
<!--
<p-tag severity="success" value="Success" />
<p-tag severity="info" value="Info" />
<p-tag severity="warn" value="Warn" />
<p-tag severity="danger" value="Danger" />
-->
<p-dialog
    header="You Sure?"
    [modal]="true"
    [(visible)]="showConfirmationDialog"
    draggable="false"
    [style]="{ width: '27rem' }"
>
    <span class="p-text-secondary block mb-8"
        >Task and its activities will be deleted</span
    >

    <div class="flex justify-end gap-2 cnfm-dialog-btns">
        <button (click)="cancelConfirmation()"
            style="background-color: #6950E8; transition: all 0.3s ease"
            onmouseout="this.style.boxShadow='0 0 0px #6950E8'"
            onmouseover="this.style.boxShadow='0 0 8px #6950E8'"
        >
            Cancel
        </button>
        <button (click)="onTaskDelete(taskToDeleteId)"
            style="background-color: #dc3545; transition: all 0.3s ease"
            onmouseout="this.style.boxShadow='0 0 0px #dc3545'"
            onmouseover="this.style.boxShadow='0 0 8px #dc3545'"
        >
            Delete
        </button>
    </div>
</p-dialog>
