<div class="ord-items-list">
    <table>
        <tr>
            <th><strong>Items summary</strong></th>
            <th><strong>QTY</strong></th>
            <th><strong>Price</strong></th>
            <th><strong>Total Price</strong></th>
        </tr>
        @for (item of itemsSummaryData; track $index) {
            <tr>
                <td style="display: flex; align-items: center;">
                    <div class="prod-img"><img style="height: 25px;" src="./images/prod.png"></div>
                    {{item.name}}
                </td>
                <td>x{{item.quant}}</td>
                <td>£{{item.price}}</td>
                <td>£{{item.total}}</td>
            </tr>
        }
    </table>
</div>