header {
    width: 100%;
    height: fit-content;
    display: grid;
}

nav {
    background-color: paleturquoise;
    height: 2cm;
    display: grid;
    align-items: center;
}

nav li {
    display: inline;
    margin-left: 17%;
    font-weight: bold;
}

* {
    font-family: 'Ubuntu';
}

h3 {
    color: slategray;
    font-style: italic;
}

.type-select-div p {
    font-style: italic;
    font-size: large;
}

.class-select {
    font-style: italic;
}

#id-select {
    color: darkred;
}

.attribute-select-div input {
    height: 1cm;
}

.attribute-select-div input[type=text]::placeholder {
    text-align: center;
}

.descendant-select-div ol > li {
    text-decoration: line-through;
}

.adjacent-sibling-div + p {
    text-decoration: line-through;
}

.general-sibling-div ~ p {
    text-decoration: underline;
}