<header class="header">
    <div class="title">
        <img style="height: 50px;" src="assets\pbm-logo.png" alt="">
        <!-- <span class="gradient-text">...</span> -->
        <a routerLink="/tasktracker" class="link">Task Tracker</a>
        <a (click)="navigateToDashboard()" class="link">
            @if (!isAdmin) { User }
            @else { Admin }
            Dashboard
        </a>
        <!-- [ngClass]="{'disabled-link': !isAdmin}" -->
    </div>
    <div class="user-info">
        <img src="assets\icons\circle-user.svg">
        @if (!isAdmin) { <p>user</p> }
        @else { <p>admin</p> }
        <span class="welcome">
            : {{ loggedUser.username }}
        </span>
        <a (click)="logout()" class="link">Logout</a>
    </div>
</header>
