:root {
  font-family: "Space Grotesk" !important;
  --bs-font-sans-serif: "Space Grotesk" !important;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

