* {
    font-family: "DM Sans", monospace;
}

#ppl-err {
    transition: opacity 0.3s linear, border-color 0.7s linear;
    font-style: italic;
    font-size: 12px;
    color: rgb(218, 43, 43);
    margin: -3px;
    opacity: 0;
}

#roi-err {
    opacity: 0;
    font-size: 12px;
    color: rgb(218, 43, 43);
    margin: -3px;
    transition: opacity 0.3s linear, border-color 0.7s linear;
    font-style: italic;
}

#time-err {
    opacity: 0;
    font-size: 12px;
    color: rgb(218, 43, 43);
    margin: -3px;
    transition: opacity 0.3s linear, border-color 0.7s linear;
    font-style: italic;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

main {
    border: 1px solid skyblue;
    width: 400px;
    padding: 5px;
    background-color: white;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.calculator label {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

.calculator input {
    padding: 10px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
}

.calculator input[type=submit] {
    background-color: rgb(3, 143, 3);
    color: white;
    padding: 10px;
    width: 50%;
    border: none;
    cursor: pointer;
    font-size: medium;
    font-weight: 600;
    transition: background-color 0.5s;
}

.calculator input[type=submit]:hover {
    background-color: darkgreen;
}
