:host {
    --border-color: rgba(218, 219, 222, 1);
}

.ord-summary {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow-x: auto;
    margin-top: 15.8125px;
    padding: 10px;
    background-color: #ffffff;
}

.ord-summary td {
    font-weight: 300;
    font-size: 0.75rem;
    padding: 5px;
}

.ord-summary th .on-the-way {
    background-color: #ecedee;
    border-radius: 10px;
    color: #ffb21e;
    font-size: 0.75rem;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

th {
    font-weight: 500;
    text-align: left;
    font-size: 0.875rem;
    padding: 5px;
}

table {
    background-color: white;
    padding: 10px;
    width: 100%;
}

table:last-child {
    border-collapse: collapse;
}

@media only screen and (max-width: 470px) {
    td {
        font-size: 0.6rem !important;
        padding: 5px;
    }
    th {
        font-size: 0.7rem !important;
        padding: 3px;
    }
    .ord-summary th .on-the-way {
        width: 75px;
        height: 24px;
        font-size: 0.62rem;
    }
}

@media only screen and (max-width: 370px) {
    .ord-summary {
        width: 83%;
    }
}
