* {
    font-family: "DM Sans", monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    border: 1px solid skyblue;
    padding: 5px;
}

.main-container {
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
}

#search-inp {
    padding: 8px;
    width: 60%;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    margin-right: 8px;
}

#search-btn {
    padding: 8px;
    width: 32.2%;
    border-radius: 5px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
}

#city-err {
    color: #a70515;
    font-size: 12px;
    text-align: center;
    font-style: italic;
    opacity: 0;
    margin-bottom: -10px;
    transition: opacity 0.5s;
}

.output-div {
    display: flex;
    justify-content: space-between;
}
