:root {
    --border-color: rgba(218, 219, 222, 1);
}

body {
    background-color: #D9AFD9;
    background-image: linear-gradient(258deg, #D9AFD9 0%, #97D9E1 100%);
    display: grid;
    justify-items: center;
}

.main-block {
    width: 90%;
    display: flex;
    flex-direction: row;
    height: fit-content;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
}

aside img.logo1 {
    height: 55px
}

aside {
    width: 25%;
    height: 650px;
    margin: 5px;
    margin-left: 0px;
    border-radius: 5px;
}

.sidebar img {
    margin: 25px;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 40px;
}

aside .btns {
    height: fit-content;
    width: fit-content;
    margin: 5px;
    margin-left: 0px;
    padding-left: 45px;
    border-left: 7px solid;
    border-color: white;
}

aside .btns button {
    font-family: "Poppins", 'Ubuntu';
    font-weight: 400;
    font-size: 0.875rem;
    color: grey;
    border: none;
    text-align: left;
    width: 185px;
    height: 48px;
    padding-left: 25px;
    background-color: rgba(255, 255, 255, 1);
}

aside .btns button:focus {
    color: rgba(255, 62, 65, 1);
    background-color: rgb(252, 209, 211);
    border-radius: 5px;
}

aside .btns button:hover {
    cursor: pointer;
}

aside .btns:hover {
    border-color: rgba(255, 62, 65, 1);
    transition: border-left 0.15s;
}

aside p {
    font-family: "Poppins", 'Ubuntu';
    font-weight: 400;
    font-size: 0.875rem;
    margin-left: 20px; 
}

.busy-mode i {
    display: none;
}

.busy-mode {
    display: flex;
    align-items: center;
    margin: 25px;
    margin-top: 55px;
}

.busy-mode .busy-mode-chkbx {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    height: 20px;
    margin-top: 5px;
    margin-left: 7px;
    position: relative;
    width: 35px;
}

.busy-mode .busy-mode-chkbx::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.busy-mode .busy-mode-chkbx,
.busy-mode .busy-mode-chkbx::after {
    transition: all 100ms ease-out;
}

.busy-mode .busy-mode-chkbx::after {
    background-color: black;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.busy-mode input[type=checkbox] {
    cursor: pointer;
}

.busy-mode .busy-mode-chkbx:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}

.busy-mode .busy-mode-chkbx:checked {
    background-color: #dfe1e4;
}

.busy-mode .busy-mode-chkbx:checked::after {
    background-color: #3ec579;
    left: 17px;
}

.busy-mode :focus:not(.focus-visible) {
    outline: 0;
}

.busy-mode .busy-mode-chkbx:checked:hover {
    background-color: #c9cbcd;
}

.top-block {
    margin-top: 20px;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-block .search-bar {
    border: 1px solid var(--border-color);
    width: fit-content;
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    padding-left: 10px;
}

.main-block {
    height: fit-content;
    padding-bottom: 50px;
}

.main-content {
    padding: 25px;
    height: fit-content;
    padding-bottom: 50px;
}

.top-block .search-bar input {
    padding-left: 5px;
    height: 35px;
    border: none;
    width: 10rem;
    border-radius: 10px;
}

.top-block .search-bar input.search:focus {
    outline: none;
}

.open-for-orders i {
    display: none;
}

.top-block .open-for-orders {
    display: flex;
    align-items: center;
    height: fit-content;
    width: auto;
    margin-right: 10px;
}

.open-for-orders p {
    font-family: "Poppins", 'Ubuntu';
    font-weight: 400;
    font-size: 0.875rem; 
    margin-left: 10px;
}

.open-for-orders .open-for-orders-chkbx {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin-top: 5px;
    margin-left: 7px;
    position: relative;
    width: 35px;
}

.open-for-orders .open-for-orders-chkbx::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.open-for-orders .open-for-orders-chkbx,
.open-for-orders .open-for-orders-chkbx::after {
    transition: all 100ms ease-out;
}

.open-for-orders .open-for-orders-chkbx::after {
    background-color: black;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.open-for-orders input[type=checkbox] {
    cursor: pointer;
}

.open-for-orders .open-for-orders-chkbx:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}

.open-for-orders .open-for-orders-chkbx:checked {
    background-color: #dfe1e4;
}

.open-for-orders .open-for-orders-chkbx:checked::after {
    background-color: #3ec579;
    left: 17px;
}

.open-for-orders :focus:not(.focus-visible) {
    outline: 0;
}

.open-for-orders .open-for-orders-chkbx:checked:hover {
    background-color: #c9cbcd;
}

.notify {
    height: 30px;
    width: 30px;
    background-color: #dfe1e4;
    border-radius: 10px;
    margin: 10px;
}

.notify i:hover li {
    display: block;
}

.notify i {
    margin-left: 8px;
    margin-top: 7px;
}

.notify li {
    display: none;
    padding: 10px;
    list-style-type: none;
    border-radius: 10px;
    text-align: center;
    color: black;
    position: absolute;
    border: 1px solid var(--border-color);
    height: fit-content;
    width: 220px;
    font-family: "Poppins", 'Ubuntu';
    font-weight: 400;
    font-size: small;
    backdrop-filter: blur(50px);
}

.notify:hover {
    cursor: pointer;
}

.profile {
    margin-left: 15px;
    height: 50px;
    align-items: center;
    display: flex;
}

.profile .profile-name {
    font-family: "Poppins", 'Ubuntu';
    font-weight: 400;
    font-size: 0.875rem;
}

.top-block .profile img {
    border-radius: 10px;
    height: 35px;
    margin-top: 7px;
}

.profile button:focus .profile-dropdown {
    display: block;
}

.profile button {
    color: #bdbec0;
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.profile button:hover {
    cursor: pointer;
}

.profile-dropdown i {
    margin-right: 10px;
}

.profile .profile-dropdown {
    display: none;
    border-radius: 10px;
    text-align: left;
    color: black;
    position: absolute;
    right: 20px;
    border: 1px solid var(--border-color);
    height: fit-content;
    width: 220px;
    font-family: "Poppins", 'Ubuntu';
    font-weight: 400;
    font-size: small;
    backdrop-filter: blur(50px);
}

.profile .profile-dropdown li {
    padding: 10px;
    list-style-type: none;
}

main {
    width: 70%;
    height: fit-content;
}

main .main-center {
    /* width: 55%; */
    flex: 1;
}

main .main-center .ord-info {
    font-family: "Poppins", 'Ubuntu';
    font-weight: 600;
    /* font-size: 1.2rem; */
    display: flex;
    margin-top: -25px;
}

/* * {
    border: 1px solid blue;
} */

.main-center .msg-cx i {
    margin: 3px;
    margin-left: 0px;
    margin-right: 5px;
}

.main-center .msg-cx {
    font-size: 0.7rem;
    background-color: black;
    color: white;
    height: fit-content;
    margin: 3px;
    font-weight: 300;
    width: fit-content;
    padding: 7px;
    border-radius: 10px;
    margin-top: 15px;
}


main .main-center .ord-info .ord-num {
    color: #ff3d41;
    margin-left: 5px;
    margin-right: 5px;
}

main .main-center th {
    text-align: left;
    font-family: "Poppins", 'Ubuntu';
    font-weight: 500;
    border-bottom: 1px solid var(--border-color);
    font-size: 0.875rem;
    padding: 10px;
    width: fit-content;
}

main .main-center td {
    font-family: "Poppins", 'Ubuntu';
    font-weight: 300;
    font-size: 0.75rem;
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
}

main .main-center .ord-items-list {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow-x: auto;
}

main .main-center table {
    padding: 10px;
    background-color: white;
    width: 100%;
}

main .main-center .ord-items-list td {
    font-size: 0.75rem;
}

main .main-center .cx-dtls-list td {
    font-size: 0.75rem;
}


main .main-center .cx-dtls-list {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow-x: auto;
    margin-top: 5%;
}

main .main-center table:last-child {
    border-collapse: collapse;
}

.main-block .sidebar .logo2 {
    display: none;
}

.main-content {
    display: flex;
    column-gap: 0.7cm;
}

.rider-dtls img {
    height: 55px;
    border-radius: 15px
}

main .main-side {
    flex: 1;
}

.rider-dtls {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow-x: auto;
    font-family: "Poppins", 'Ubuntu';
}

main .main-side .rider-dtls td {
    font-family: "Poppins", 'Ubuntu';
    font-weight: 500;
    font-size: 0.85rem;
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
    width: auto;
}

main .main-side table:last-child {
    border-collapse: collapse;
}

main .main-side .rider-dtls h2 {
    text-align: left;
    font-family: "Poppins", 'Ubuntu';
    font-weight: 500;
    font-size: 1.2rem;
    padding-left: 15.8125px;
    padding-top: 10px;
    background-color: white;
    margin: 0px;
    width: auto;
}

.rider-dtls button {
    background-color: #ffb21e;
    color: white;
    height: 35px;
    font-family: "Poppins", 'Ubuntu';
    font-weight: 400;
    width: 100px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}


.main-side table {
    background-color: white;
    padding: 10px;
    width: 100%;
}

.ord-summary td {
    font-family: "Poppins", 'Ubuntu';
    font-weight: 300;
    font-size: 0.75rem;
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
}

.main-side .ord-summary {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow-x: auto;
    margin-top: 15.8125px;
}

.ord-summary th div {
    background-color: #ecedee;
    border-radius: 10px;
    color: #ffb21e;
    font-size: 0.75rem;
    text-align: center;
    height: 30px;
    margin-bottom: 10px;
}

.ord-summary th div p {
    padding-top: 5px;
}

.ord-summary th {
    font-family: "Poppins", 'Ubuntu';
    font-weight: 500;
    text-align: left;
    font-size: 0.875rem;
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
}

.total td {
    font-family: "Poppins", 'Ubuntu';
    font-weight: 300;
    font-size: 0.75rem;
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
    padding-right: 85px;
}

.total {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow-x: auto;
    margin-top: 5%;
}

.address {
    margin-top: 15.8125px;
    padding: 10px;
    padding-bottom: -0px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    font-family: "Poppins", 'Ubuntu';
    font-weight: 300;
    font-size: small;
    background-color: white;
}

.address span {
    font-weight: 500;
}

@media only screen and (max-width: 1234px) {
    main .main-center .ord-info {
        font-size: 1rem;
    }
    main .main-center .msg-cx {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 958px) {
    .top-block .search-bar input {
        width: 70px;
    }
    .top-block .search-bar {
        width: 120px;
    }
}

@media only screen and (max-width: 985px) {
    .total {
        margin-top: 10px;
    }
    .rider-dtls {
        margin-top: 10px;
        margin-bottom: -5px;
    }
    .top-block .profile p {
        margin: auto;
        width: fit-content;
    }
    aside .btns .cta-text {
        display: none;
    }
    main .main-center .ord-info {
        font-size: 1.2rem;
    }
    .main-content {
        width: fit-content;
    }
    .main-block .sidebar .logo1 {
        display: none;
    }
    .main-block .sidebar .logo2 {
        display: flex;
        margin-left: 35px;
    }
    .sidebar .aside-button {
        width: 45px;
        padding-left: 12px;
    }
    .top-block .search-bar input {
        width: 4rem;
    }
    .top-block .open-for-orders p {
        display: none;
    }
    .open-for-orders i {
        display: block;
    }
    .top-block .profile .profile-name {
        display: none;
    }
    .top-block .profile .notify i {
        display: inline;
    }
    .busy-mode {
        display: block;
    }
    .busy-mode .busy-mode-chkbx {
        margin-left: 25px;
    }
    .busy-mode p {
        font-size: x-small;
    }
    .main-content {
        padding: 5px;
        flex-direction: column;
    }
    main .main-center .ord-info {
        margin-top: 0px;
    }
    .cx-dtls-list {
        width: 59vw;
    }
    .ord-items-list {
        width: 59vw;
    }
    .rider-dtls {
        width: 59vw;
    }
    aside {
        margin-top: -10px;
        position: sticky;
        top: 0;
    }
    .ord-info {
        width: 50vw;
        padding-left: 15px;
    }
    .ord-info .msg-cx {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 1188px) {
    main .main-center td {
        font-size: 0.6rem;
    }
    main .main-center th {
        font-size: 0.7rem;
    }
    .top-block .profile p {
        margin: auto;
        width: fit-content;
    }
    main .main-center .ord-info {
        font-size: 0.9rem;
    }
    aside .btns button {
        font-size: 0.7rem;
    }
    .sidebar img.logo1 {
        height: 40px;
    }
}

@media only screen and (max-width: 574px) {
    .main-content .ord-info .msg-cx {
        margin-left: 10px;
        padding: 5px;
        margin-top: 27px;
        padding-right: 3px;
        padding-bottom: 3px;
    }
    .main-content .ord-info .ord-num {
        margin-top: 20px;
        padding-left: 10px;
    }
    .main-content .ord-info p {
        padding-left: 5px;
        margin-left: -10px;
    }
    .main-content .ord-info .msg-cx i {
        margin-left: 3px;
    }
    .busy-mode p {
        display: none;
    }
    .top-block .profile p {
        margin: auto;
        width: fit-content;
    }
    aside .btns {
        padding-left: 25px;
    }
    aside .btns .cta-text {
        display: none;
    }
    aside {
        margin-top: -15px;
        position: sticky;
        top: 0;
    }
    main .main-center .ord-info {
        font-size: 1.3rem;
        text-align: center;
        margin-top: -5px;
        margin-left: 25px;
    }
    .main-block .sidebar .logo1 {
        display: none;
    }
    .main-block .sidebar .logo2 {
        display: flex;
        margin-left: 15px;
    }
    .sidebar .aside-button {
        width: 45px;
        padding-left: 12px;
    }
    .top-block .search-bar {
        width: 45%;
        margin-right: 5px;
    }
    .top-block .search-bar input {
        width: 40%;
    }
    .top-block .search-bar input::placeholder {
        color: white;
    }
    .top-block .open-for-orders p {
        display: none;
    }
    .top-block .profile .profile-name {
        display: none;
    }
    .top-block .profile .notify i {
        display: inline;
    }
    .busy-mode i {
        display: block;
        margin-left: 18px;
        padding-bottom: 15px;
        color: grey;
    }
    .busy-mode {
        display: block;
        margin-left: 27px;
        margin-top: 10px;
    }
    .busy-mode .busy-mode-chkbx {
        margin-left: 10px;
    }
    main .main-center .ord-info {
        font-size: 0.85rem;
        width: 150px;
        padding-left: 0px;
    }
    main .main-center .ord-info p {
        text-align: left;
    }
    main .main-center .ord-info p.ord-num {
        margin-top: 34px;
        margin-left: 0px;
    }
    .ord-items-list {
        width: 58vw;
    }
    .open-for-orders i {
        color: grey;
        display: block;
        padding-left: 5px;
    }
    .main-content {
        padding: 5px;
        flex-direction: column;
    }
    .cx-dtls-list {
        width: 58vw;
    }
    .rider-dtls {
        margin-top: 5px;
    }
    .rider-dtls img {
        height: 35px;
        border-radius: 7.5px
    }
    .total {
        width: 58vw;
    }
    .total td {
        padding-right: 75px;
    }
    main .main-side .rider-dtls td {
        font-size: 0.85rem;
    }
    .notify i {
        margin-left: 3px;
    }
}

@media only screen and (max-width: 652px) {
    main .main-center .ord-items-list td {
        padding-left: 0px;
    }
    .msg-cx .msg-cx-txt {
        display: none;
    }
}

@media only screen and (max-width: 426px) {
    .cx-dtls-list {
        width: 250px;
    }
    .ord-items-list {
        width: 250px;
    }
    .total {
        width: 250px
    }
    .rider-dtls {
        width: 250px;
    }
    .notify {
        position: relative;
    }
    .notify li {
        position: absolute;
        left: -150px;
    }
    .notify i {
        margin-left: 9px;
    }
    .main-block {
        width: fit-content;
        margin-right: 5px;
    }
}

.space-div {
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 984px) and (max-width: 1117px)  {
    main .main-center .ord-info .msg-cx-txt {
        font-size: x-small;
    }
    .main-center .ord-info > p {
        width: 60px;
    }
    .main-center .ord-info .ord-num {
        padding-right: 10px;
        padding-top: 22px;
    }
    .main-center .ord-info .msg-cx {
        margin-top: 28px;
    }
}

@media only screen and (min-width: 1118px) and (max-width: 1355px) {
    main .main-center .ord-info {
        font-size: 1rem;
    }
    main .main-center .msg-cx {
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 1118px) and (max-width: 1233px) {
    .main-center .ord-info p {
        font-size: 0.9rem;
    }
    .main-center .ord-info .msg-cx-txt {
        font-size: smaller;
    }
    .main-center .ord-info .msg-cx {
        margin-top: 10px;
    }
}