<body>
    <div class="main-block">
        <h1 class="gradient-text">Operations & Compliance System</h1>
        <h3 style="font-weight: 500;">Login to Your Account</h3>
        <a style="color: #7d6ef1" routerLink="/register">New user?</a>
        <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
            <label for="user-inp">Username:</label>
            <input id="user-inp" type="text" name="usrname" ngModel required />
            <!-- placeholder="Enter your username" -->

            <label for="pass-inp">Password:</label>
            <input
                id="pass-inp"
                required
                ngModel
                min="8"
                name="pass"
                type="password"
            />
            <!-- placeholder="Enter your password" -->

            <input type="submit" value="Login" [disabled]="loginForm.invalid" />
        </form>
    </div>
    <div class="card flex justify-center">
        <p-toast position="bottom-right" />
    </div>
</body>
