:host {
    --border-color: rgba(218, 219, 222, 1);
}

.total {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow-x: auto;
    margin-top: 5%;
}

table {
    padding: 10px;
    background-color: white;
    width: 100%;
}

table:last-child {
    border-collapse: collapse;
}

td {
    font-family: "Poppins", 'Ubuntu';
    font-weight: 300;
    font-size: 0.75rem;
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
    padding-right: 85px;
}

@media only screen and (max-width: 370px) {
    .total {
        width: 91%;
        overflow: hidden;
    }
}
