.tasks-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 0 4px 12px #0000006c;
    background-color: #111827;
    color: #fff;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
}

p-tag {
    font-size: 12px;
    font-weight: 400;
    min-width: 58.63px;
    margin: -25px;
}

select {
    width: 100%;
    border-radius: 5px;
    margin: -8px;
    color-scheme: dark;
    border: none;
    padding: 5px 2px;
    border: 1px solid #52525b;
    transition: all 0.3s;
}

.total-tasks {
    font-size: 14px;
}

.working-leave-btn {
    border: 1px solid #6950E8;
    padding: 8px 16px;
    color: #c3ceec;
    border-radius: 7px;
}

.add-task-btn {
    background-color: #6950E8;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px 16px;
    text-align: center;
    transition: all 0.25s ease;
    cursor: pointer;
    margin-left: 10px;
}

.add-task-btn:hover {
    background-color: #592BE7;
    cursor: pointer;
    box-shadow: 0 0 5px #592BE7;
}

.date-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.date-section label {
    margin-right: 10px;
}

.date-section input[type="date"] {
    padding: 5px;
}

.tasks-table,
.activities-table {
    margin-top: 20px;
    height: 415px;
    max-height: 415px;
}

.tasks-table table,
.activities-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
    font-size: smaller;
}

:host ::ng-deep .p-datatable th,
:host ::ng-deep .p-datatable td {
    text-align: center;
    background-color: #111827;
    color: #d6def7;
}

:host ::ng-deep .p-datatable tbody tr:nth-child(odd) td {
    text-align: center;
    /* background-color: #111827; */
    color: #d6def7;
}

:host ::ng-deep .p-datatable tbody tr:nth-child(even) td {
    text-align: center;
    background-color: #19222e;
    color: #d6def7;
}

:host ::ng-deep .p-datatable th {
    font-weight: 600;
    background-color: #6950E8;
}

:host ::ng-deep .p-datatable td:first-child,
:host ::ng-deep .p-datatable th:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

:host ::ng-deep .p-datatable td:last-child,
:host ::ng-deep .p-datatable th:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

:host ::ng-deep .p-datatable th:nth-child(7) {
    width: 12%;
}

:host ::ng-deep .p-datatable th:nth-child(5) {
    width: 3.5%;
}

:host ::ng-deep .p-datepicker .p-datepicker-input {
    width: 130px !important;
    font-size: 14px;
}

:host ::ng-deep .p-datepicker .p-datepicker-input:focus {
    border: 1px solid #6950E8;
}

:host ::ng-deep .p-datepicker .p-datepicker-prev-button,
:host ::ng-deep .p-datepicker .p-datepicker-next-button {
    color: #6950E8;
    font-size: 20px;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

:host ::ng-deep .p-datatable td {
    border: none;
    font-size: 14px;
}

:host ::ng-deep .p-datatable td.no-tasks {
    color: #dc3545;
    font-weight: 500;
}

.edit-btn,
.complete-btn,
.add-activity-btn,
.delete-btn {
    font-size: 16px;
}

.add-activity-btn,
.complete-btn {
    color: #198754;
}

.edit-btn {
    color: #0d6efd;
}

.delete-btn {
    color: #dc3545;
}

.activities-table table {
    margin-top: 10px;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border: 1px solid #6950E8;
}

input {
    border-radius: 5px;
    border: 1px solid #283141;
    box-shadow: 0 0 5px #6950E86c;
    border: none;
    color-scheme: dark;
}

.cnfm-dialog-btns {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 15px;
}

.cnfm-dialog-btns button {
    height: 45px;
    width: 50%;
    font-weight: 500;
    font-size: 15px;
    border-radius: 5px;
}

:host ::ng-deep .p-dialog {
    background-color: #111827;
}

:host ::ng-deep .p-dialog .p-dialog-close-button:focus {
    outline: none;
}

:host ::ng-deep .p-datepicker table {
    font-size: 12px !important; /* Reduce font size for the calendar */
}

:host ::ng-deep .p-datepicker .p-datepicker-header {
    padding: 0.5rem !important; /* Reduce header padding */
}

:host ::ng-deep .p-datepicker .p-datepicker-calendar td > span {
    width: 1.5rem !important; /* Reduce size of date cells */
    height: 1.5rem !important;
    line-height: 1.0rem !important;
}

:host ::ng-deep .p-datepicker .p-datepicker-calendar th {
    padding: 0.25rem !important; /* Reduce padding for table headers */
}

:host ::ng-deep .p-datepicker .p-datepicker-header {
    padding: 0.5rem !important;
    padding-top: 0 !important;
}

:host ::ng-deep .p-datepicker .p-datepicker-title {
    font-size: 12px !important; /* Reduce font size for the title */
}

:host {
    --p-datepicker-date-selected-background: #6950E8;
}