body {
    font-family: "DM Sans", monospace;
    display: flex;
    justify-content: center;
    align-content: center;
}

#dupe-email {
    color: rgb(218, 43, 43);
    font-style: italic;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s;
}

main {
    display: flex;
    border: 1px solid #87ceeb;
    width: 75%;
    justify-content: center;
    padding: 5px;
}

.main-div {
    width: 90%;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid black;
}

.top-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-div p {
    margin: 10px 0 5px 0;
    font-weight: bold;
}

.top-div input {
    height: 30px;
    width: 20%;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    padding: 0 7px;
    transition: border-color 0.3s;
}

.top-div input::placeholder {
    color: rgb(218, 43, 43);
    font-style: italic;
    font-size: 12px;
    visibility: visible;
    transition: visibility 0.3s;
}

.top-div select {
    width: 20%;
    height: 33px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    padding: 7px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 3px;
}

.top-div input:focus, .top-div select:focus {
    border-color: #007bff;
    outline: none;
}

#add-user-btn {
    width: 80px;
}

.top-div button:active {
    background-color: #005ab9;
}

#main-list li {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 10px;
    margin-left: -35px;
    padding-left: 25px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

#main-list li li {
    display: list-item;
    height: 0;
    width: 0;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    border: none;
}
