* {
    font-family: "DM Sans", monospace;
    transition: opacity 0.5s;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
}

main {
    border: 1px solid skyblue;
    padding: 5px;
    width: 450px;
}

.main-container {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.inventory-form {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.inventory-form input {
    height: 28px;
    border-radius: 5px;
    border: 1.5px solid #d8d8d8;
    padding: 7px;
    transition: border-color 0.5s;
}

.inventory-form button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.1s;
}

.inventory-form button:hover {
    cursor: pointer;
}

.inventory-form button:active {
    background-color: #005ab9;
}

table {
    width: 100%;
    text-align: left;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}

table th {
    background-color: rgb(196, 196, 196);
}

label {
    margin: 5px;
}

#prod-err {
    color: rgb(218, 43, 43);
    margin: 0px;
    font-size: 12px;
    font-style: italic;
    opacity: 0;
}

#price-err {
    color: rgb(218, 43, 43);
    margin: 0px;
    font-size: 12px;
    font-style: italic;
    opacity: 0;
}

#quant-err {
    color: rgb(218, 43, 43);
    margin: 0px;
    font-size: 12px;
    font-style: italic;
    opacity: 0;
}

.delete-btn i {
    color: rgb(218, 43, 43);
}

.edit-btn i {
    color: green;
}

table button {
    width: 100%;
    border: none;
}

table button:hover {
    cursor: pointer;
}

table td {
    font-size: small;
} 

.edit-data {
    width: 96%;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}

.edit-btn {
    width: 23.33px;
}

.delete-btn {
    width: 23.33px;
}

#edit-mode-info {
    font-size: 12px;
    color: #dc3545;
    font-style: italic;
    margin-top: -15px;
    margin-bottom: 8px;
    opacity: 0;
    transition: opacity 0.5s;
}
