* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #111827;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    margin: 0;
}

.main-block {
    /* background-color: #1F2937; */
    padding: 30px;
    backdrop-filter:blur(20px);
    border-radius: 10px;
    /* box-shadow: 0 0 12px #7d6ef16c; */
    width: 100%;
    max-width: 500px;
    text-align: center;
    color: #f3f4f6;
}

h1 {
    color: #f3f4f6;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.main-block h3 {
    color: #f3f4f6;
    margin-bottom: 20px;
}

.main-block form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-block form input {
    font-size: 16px;
    text-align: left;
    color: #f3f4f6;
}

label,
input::placeholder {
    text-align: left;
    color: #9ca3af;
}

label {
    margin-bottom: -10px;
}

.main-block input:-webkit-autofill,
.main-block input:-webkit-autofill:hover,
.main-block input:-webkit-autofill:focus,
.main-block input:-webkit-autofill:active,
.main-block form input {
    background-color: #111827;
}

.main-block form input[type="text"],
.main-block form input[type="email"],
.main-block form input[type="password"] {
    padding: 10px;
    border: 1px solid #283141;
    color: #f3f4f6;
    color-scheme: dark;
    background-color: #1F2937;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

.main-block form input[type="submit"] {
    background-color: #6950E8;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 18px;
    transition:all 0.3s ease;
    width: 100%;
    text-align: center;
}

.main-block form input[type="submit"]:not(:disabled):hover {
    background-color: #592BE7;
    cursor: pointer;
    box-shadow: 0 0 5px #592BE7;
}

.main-block form input[type="submit"]:disabled {
    background-color: #6950E8cb;
    cursor: default;
    color: #cfcdcd;
}

.main-block form input:focus {
    outline: none;
    box-shadow: 0 0 5px #6950E86c;
    /* border-color: #6950E8; */
}