<div class="top-block">
    <div class="search-bar">
        <span><i class="fa-solid fa-magnifying-glass fa-sm"></i></span>
        <input class="search" type="search" placeholder="Search">
    </div>
    <div class="space-div">
        <div class="open-for-orders">
            <i class="fa-solid fa-list-check"></i>
            <p>Open For Orders</p>
            <input type="checkbox" class="open-for-orders-chkbx">
        </div>
        <div class="notify">
            <i class="fa-regular fa-bell">
                <ul>
                    <li>No new notifications!</li>
                </ul>
            </i>
        </div>
        <div class="profile">
            <img src="images/profile.png">
            <p class="profile-name" style="margin-left: 7px;">Lubomír Dvořák</p>
            <button class="profile-opt">
            <i class="fa-solid fa-chevron-down"></i>
            <ul class="profile-dropdown">
                <li style="font-size: medium;"><strong>Hi, {{accName}}</strong></li>
                @for (data of profileDropDown; track data) {
                    <li><i class="{{data.icon}}"></i>{{data.name}}</li>
                }
            </ul>
            </button>
        </div>
    </div>
</div>