:host {
    --border-color: rgba(218, 219, 222, 1);
}

.top-block {
    margin-top: 20px;
    height: fit-content;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-block .search-bar {
    border: 1px solid var(--border-color);
    width: fit-content;
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    padding-left: 10px;
}

.top-block .search-bar input {
    padding-left: 5px;
    height: 35px;
    border: none;
    width: 10rem;
    border-radius: 10px;
}

.top-block .search-bar input.search:focus {
    outline: none;
}

.open-for-orders i {
    display: none;
}

.top-block .open-for-orders {
    display: flex;
    align-items: center;
    height: fit-content;
    width: auto;
    margin-right: 10px;
}

.open-for-orders p {
    font-family: "Poppins", 'Ubuntu';
    font-weight: 400;
    font-size: 0.875rem;
    margin-left: 10px;
}

.open-for-orders .open-for-orders-chkbx {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin-top: 5px;
    margin-left: 7px;
    position: relative;
    width: 35px;
}

.open-for-orders .open-for-orders-chkbx::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.open-for-orders .open-for-orders-chkbx,
.open-for-orders .open-for-orders-chkbx::after {
    transition: all 100ms ease-out;
}

.open-for-orders .open-for-orders-chkbx::after {
    background-color: black;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.open-for-orders input[type=checkbox] {
    cursor: pointer;
}

.open-for-orders .open-for-orders-chkbx:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}

.open-for-orders .open-for-orders-chkbx:checked {
    background-color: #dfe1e4;
}

.open-for-orders .open-for-orders-chkbx:checked::after {
    background-color: #3ec579;
    left: 17px;
}

.open-for-orders :focus:not(.focus-visible) {
    outline: 0;
}

.open-for-orders .open-for-orders-chkbx:checked:hover {
    background-color: #c9cbcd;
}

.notify {
    height: 30px;
    width: 30px;
    background-color: #dfe1e4;
    border-radius: 10px;
    margin: 10px;
}

.notify i:hover li {
    display: block;
}

.notify i {
    margin-left: 8px;
    margin-top: 7px;
}

.notify li {
    display: none;
    padding: 10px;
    list-style-type: none;
    border-radius: 10px;
    text-align: center;
    color: rgb(85, 85, 85);
    position: absolute;
    right: 9%;
    border: 1px solid var(--border-color);
    height: fit-content;
    width: 220px;
    font-family: "Poppins", 'Ubuntu';
    font-weight: 400;
    font-size: small;
    backdrop-filter: blur(50px);
}

.notify:hover {
    cursor: pointer;
}

.profile {
    margin-left: 15px;
    height: 50px;
    align-items: center;
    display: flex;
}

.profile .profile-name {
    font-family: "Poppins", 'Ubuntu';
    font-weight: 400;
    font-size: 0.875rem;
}

.top-block .profile img {
    border-radius: 10px;
    height: 30px;
}

.profile button:focus .profile-dropdown {
    display: block;
}

.profile button {
    color: #bdbec0;
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.profile button:hover {
    cursor: pointer;
}

.profile-dropdown i {
    margin-right: 10px;
}

.profile .profile-dropdown {
    display: none;
    border-radius: 10px;
    text-align: left;
    color: rgb(85, 85, 85);
    position: absolute;
    right: 20px;
    top: 70px;
    border: 1px solid var(--border-color);
    height: fit-content;
    width: 220px;
    font-family: "Poppins", 'Ubuntu';
    font-weight: 400;
    font-size: small;
    backdrop-filter: blur(50px);
}

.profile .profile-dropdown li {
    padding: 10px;
    list-style-type: none;
}

.space-div {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 880px) {
    .open-for-orders i {
        display: block;
    }
    .open-for-orders p {
        display: none;
    }
}

@media only screen and (max-width: 880px) {
    .top-block .search-bar input {
        width: 4.5rem;
    }
}

@media only screen and (max-width: 560px) {
    .profile .profile-name {
        display: none;
    }
}

@media only screen and (max-width: 470px) {
    .top-block .search-bar {
        padding-left: 10px;
    }
    .top-block .search-bar {
        padding-right: 8px;
    }
    .top-block .search-bar input {
        display: none;
    }
}
