<app-header></app-header>
<div class="task-tracker-container">
    <h2>Add New Task</h2>
    <h3>Tasks</h3>

    <form [formGroup]="taskForm" (ngSubmit)="onSaveTask()" class="form-box">
        <div class="grid">
            <div class="form-group">
                <label for="select1">Client Name*</label>
                <select id="select1" formControlName="clientName" (change)="getProjectListByClientId()">
                    <option value="">Select...</option>
                    @for (client of clientList; track $index) {
                        <option value="{{ client.clientName }}">{{ client.clientName }}</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="select2">Project Name*</label>
                <select id="select2" formControlName="projectName">
                    <option value="">Select...</option>
                    @for (project of projectList; track $index) {
                        <option value="{{ project.projectName }}">{{ project.projectName }}</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="textInput1">Title*</label>
                <input
                    type="text"
                    id="textInput1"
                    formControlName="taskTitle"
                />
            </div>

            <div class="form-group">
                <label for="textInput2">ETA (Hours)*</label>
                <input
                    type="number"
                    id="textInput2"
                    formControlName="taskETA"
                />
            </div>

            <div class="form-group">
                <label for="dateInput">Date*</label>
                <input
                    type="date"
                    id="dateInput"
                    formControlName="taskDate"
                />
            </div>

            <div class="form-group">
                <label for="textInput3">Assigned To*</label>
                <select id="textInput3" formControlName="assignedTo">
                <option value="">Select...</option>
                @for (user of userList; track $index) {
                    <option value="{{ user.username }}">{{ user.username }}</option>
                }
                @if (!isUser) {
                    @for (admin of adminList; track $index) {
                        <option value="{{ admin.username }}">{{ admin.username }}</option>
                    }
                }
                </select>
            </div>

            <div class="form-group">
                <label for="textInput4">Assigned By*</label>
                <select id="textInput4" formControlName="assignedBy">
                    <option value="">Select...</option>
                    @for (admin of adminList; track $index) {
                        <option value="{{ admin.username }}">{{ admin.username }}</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="select3">State*</label>
                <select id="select3" formControlName="taskState">
                    <option value="">Select...</option>
                    <option value="new">New</option>
                    <option value="active">Active</option>
                    <option value="complete">Complete</option>
                </select>
            </div>

            <div class="form-group">
                <label for="select4">Priority*</label>
                <select id="select4" formControlName="taskPriority">
                    <option value="">Select...</option>
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>
            </div>
        </div>

        <div class="description-container">
            <label for="description">Description*</label>
            <textarea
                id="description"
                formControlName="description"
            ></textarea>
        </div>

        <div class="button-group">
            @if (editMode$ | async) {
                <button
                    [disabled]="this.enableNextTask || taskForm.invalid"
                    (click)="onUpdateTask()"
                >
                    Update
                </button>
            } @else {
                <button
                    type="submit"
                    [disabled]="this.enableNextTask || taskForm.invalid"
                >
                    Save
                </button>
            }
            <button
                type="button"
                [disabled]="taskForm.invalid || this.enableNextTask"
                (click)="onTaskFormReset()"
            >
                Reset
            </button>
            <button
                type="button"
                (click)="onNextTask()"
                [disabled]="!this.enableNextTask"
            >
                Add Next Task
            </button>
        </div>
    </form>

    <h3>Activities</h3>


    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">Add Activity</p-tab>
            <p-tab value="1" [disabled]="(editMode$ | async) === false">Edit Activity</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <form (ngSubmit)="onSaveActivity()" [formGroup]="actForm">
                    <div class="additional-inputs">
                        <div class="form-group">
                            <label for="additionalInput1">Title*</label>
                            <input
                                type="text"
                                id="additionalInput1"
                                formControlName="actTitle"
                            />
                        </div>

                        <div class="form-group">
                            <label for="additionalDescription">Description*</label>
                            <textarea
                                id="additionalDescription"
                                formControlName="actDescription"
                            ></textarea>
                        </div>

                        <div class="form-group">
                            <label for="textInput2">Hours*</label>
                            <input
                                type="number"
                                id="textInput2"
                                formControlName="actHours"
                                step="0.1"
                            />
                        </div>
                    </div>

                    <div class="button-group">
                        <button
                            type="submit"
                            [disabled]="actForm.invalid"
                        >
                            Save
                        </button>
                        <button
                            type="button"
                            (click)="onActFormReset()"
                            [disabled]="actForm.invalid"
                        >
                            Reset
                        </button>
                    </div>
                </form>
            </p-tabpanel>
            <p-tabpanel value="1">
                <div style="height: 375px;"></div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>

    <div class="card flex justify-center">
        <p-toast position="bottom-right"/>
    </div>
</div>