.task-tracker-container {
    padding: 20px;
    background-color: #111827;
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.425);
    margin: auto;
    color: #c3ceec;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.form-group {
    flex: 1 1 calc(33.33% - 10px);
}

.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    /* border: 1px solid #ccc; */
}

.description-container {
    width: 100%;
    flex-basis: 100%;
    margin-top: 20px;
}

.form-group textarea {
    margin-top: 5px;
    width: 100%;
    flex-basis: 100%;
    border: 1px solid #283141;
    background-color: #1F2937;
    color-scheme: dark;
}

.form-group input,
.form-group select {
    margin-top: 5px;
    color-scheme: dark;
    border: 1px solid #283141;
    color: #f3f4f6;
    background-color: #1F2937;
    font-size: 15px;
}

.additional-inputs .form-group {
    margin-bottom: 15px;
}

label {
    color: #9ca3af;
}

input::placeholder {
    color: #9ca3af;
}

textarea {
    margin-top: 5px;
    width: 100%;
    height: 100px;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    color-scheme: dark;
    border: 1px solid #283141;
    color: #f3f4f6;
    background-color: #1F2937;
}

.button-group {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.additional-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.additional-inputs input {
    width: 100%;
}

.button-group button {
    color: #ffffff;
    background-color: #6950E8;
    border: none;
    border-radius: 5px;
    padding: 12px;
    transition: all 0.25s ease;
    width: 10%;
    text-align: center;
}

.button-group button:hover {
    cursor: pointer;
    background-color: #592BE7;
    box-shadow: 0 0 5px #592BE7;
}

.button-group button:disabled {
    background-color: #6950E8cb;
    cursor: default;
    color: #cfcdcd;
    box-shadow: none;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #6950E86c;
}


:host ::ng-deep .p-tablist-tab-list {
    display: flex;
    border-bottom: 1px solid #283141;
    background-color: #111827;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

:host ::ng-deep p-tabpanels {
    background-color: #111827;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #d9e0f3;
}

:host ::ng-deep .p-tab {
    padding: 12px 20px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

:host ::ng-deep .p-tab-active {
    color: #6950E8;
}

:host ::ng-deep .p-disabled {
    color: #6950E8cb;
}

h2 {
    margin: 0;
    color: #f3f4f6;
}

h3 {
    color: #f3f4f6;
}

:host ::ng-deep .p-tablist-active-bar {
    background-color: #6950E8;
    height: 4px;
}

.p-tab:not(.p-tab-active) {
    border: none;
}

.p-tab:not(.p-tab-active):not(.p-disabled) {
    color: #6950E8cb;
}

.form-box {
    /* background-color: #0d1f3b; */
    /* padding: 20px; */
    border-radius: 10px;
    color: #f3f4f6;
}
