.main-content {
    background-color: #fcf0f0;
    margin-top: 25px;
    border-radius: 20px;
    width: 90%;
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-bottom: 3.5%;
    padding-top: 1.5%;
}

.ord-info {
    font-family: "Poppins", 'Ubuntu';
    font-weight: 700;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    margin-bottom: -10px;
}

.ord-info .msg-cx i {
    margin: 3px;
    margin-left: 0px;
    margin-right: 5px;
}

.ord-info .msg-cx {
    font-size: 0.7rem;
    background-color: black;
    color: white;
    height: fit-content;
    margin: 3px;
    font-weight: 300;
    width: fit-content;
    padding: 5px 7px;
    border-radius: 5px;
}

.ord-info .msg-cx:hover {
    cursor: pointer;
}

.ord-info .ord-num {
    color: #ff3d41;
    margin-left: 5px;
    margin-right: 5px;
}

.ord-info {
    grid-area: ordInfo;
}

.item-summary {
    grid-area: itemSummary;
}

.cx-ord-dtls {
    grid-area: cxOrdDtls;
}

.side-content {
    grid-area: sideContent;
}

.main-content {
    display: grid;
    justify-content: stretch;
    gap: 15px;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-areas:
        "ordInfo sideContent"
        "itemSummary sideContent"
        "cxOrdDtls sideContent";
}

@media only screen and (min-width: 881px) and (max-width: 990px) {
    .ord-info {
        font-size: 1em;
    }
}

@media only screen and (min-width: 881px) and (max-width: 940px) {
    .ord-info {
        font-size: 0.95em;
    }
    .ord-info .msg-cx {
        font-size: 0.5em;
    }
}

@media only screen and (max-width: 880px) {
    .main-content {
        grid-template-columns: 1fr;
        grid-template-areas:
            "ordInfo"
            "itemSummary"
            "cxOrdDtls"
            "sideContent";
    }
}

@media only screen and (max-width: 560px) {
    .ord-info {
        font-size: 0.95em;
    }
    .ord-info .msg-cx {
        font-size: 0.5em;
    }
}

@media only screen and (max-width: 470px) {
    .msg-cx-txt {
        display: none;
    }
    .ord-info .msg-cx {
        font-size: 0.6em;
    }
    .ord-info .msg-cx i {
        margin: 0px;
        margin-right: 1px;
    }
}

@media only screen and (max-width: 370px) {
    .item-summary {
        width: 230px;
    }
    .cx-ord-dtls {
        width: 230px;
    }
}
